<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Video_Manager.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AVM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Video_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <Video_Manager.Settings1>
            <setting name="test" serializeAs="String">
                <value>Bob</value>
            </setting>
        </Video_Manager.Settings1>
    </applicationSettings>
    <userSettings>
        <AVM.Properties.Settings>
            <setting name="FileNamePattern" serializeAs="String">
                <value>Name - EpisodeNumber</value>
            </setting>
            <setting name="LastParentGroup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YouTubeWebPlayer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastWatchedColor" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="HuluWebPlayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NameColumnEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NameColumnLabel" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="EpisodeNameColumnEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EpisodeNameColumnLabel" serializeAs="String">
                <value>Episode</value>
            </setting>
            <setting name="SeasonNumberColumnEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeasonNumberColumnLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="EpisodeNumberColumnEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EpisodeNumberColumnLabel" serializeAs="String">
                <value>#</value>
            </setting>
            <setting name="VideoCodecColumnEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VideoCodecColumnLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioCodecColumnEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AudioCodecColumnLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="ContainerColumnEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ContainerColumnLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="TimesPlayedColumnEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimesPlayedColumnLabel" serializeAs="String">
                <value>Played</value>
            </setting>
            <setting name="NameColumnWidth" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="EpisodeNameColumnWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SeasonNumberColumnWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EpisodeNumberColumnWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="VideoCodecColumnWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AudioCodecColumnWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ContainerColumnWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimesPlayedColumnWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NumberOfColumns" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MoreInfoService" serializeAs="String">
                <value>imdb</value>
            </setting>
        </AVM.Properties.Settings>
        <Video_Manager.Properties.Settings>
            <setting name="FileNamePattern" serializeAs="String">
                <value>Name - EpisodeNumber</value>
            </setting>
            <setting name="LastParentGroup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="YouTubeWebPlayer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastWatchedColor" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="HuluWebPlayer" serializeAs="String">
                <value>True</value>
            </setting>
        </Video_Manager.Properties.Settings>
    </userSettings>
</configuration>